{% block content %}
  <h2>Liste des paiements de ventes</h2>
  <label for="filterClient">Filtrer par client:</label>
  <input type="text" id="filterClient" onkeyup="filterPayments()" placeholder="Entrez le nom du client">

  <label for="filterMontant">Filtrer par montant payé:</label>
  <input type="number" id="filterMontant" onkeyup="filterPayments()" placeholder="Entrez le montant payé">

  <label for="filterDate">Filtrer par date de paiement:</label>
  <input type="text" id="filterDate" onkeyup="filterPayments()" placeholder="Entrez la date de paiement">

  <ul id="paymentList">
    {% for payment in payments %}
      <li data-client="{{ payment.client.NomC }}" data-montant="{{ payment.montantPaye }}" data-date="{{ payment.datePayement }}">
        <a href="{% url 'payment_vente_detail' id=payment.id %}">{{ payment.client.NomC }} - {{ payment.montantPaye }} - {{ payment.datePayement }}</a>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'payment_vente_create' %}">Créer</a>

  <script>
    function filterPayments() {
      var inputClient, inputMontant, inputDate, filterClient, filterMontant, filterDate, ul, li, a, i, txtValue;

      inputClient = document.getElementById('filterClient');
      inputMontant = document.getElementById('filterMontant');
      inputDate = document.getElementById('filterDate');

      filterClient = inputClient.value.toUpperCase();
      filterMontant = inputMontant.value.toUpperCase();
      filterDate = inputDate.value.toUpperCase();

      ul = document.getElementById('paymentList');
      li = ul.getElementsByTagName('li');

      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName('a')[0];
        txtValue = a.textContent || a.innerText;

        var clientMatch = li[i].dataset.client.toUpperCase().indexOf(filterClient) > -1;
        var montantMatch = li[i].dataset.montant.toUpperCase().indexOf(filterMontant) > -1;
        var dateMatch = li[i].dataset.date.toUpperCase().indexOf(filterDate) > -1;

        if (clientMatch && montantMatch && dateMatch) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
  </script>
{% endblock %}
