<!DOCTYPE html>
<html>
<head>
    <title>Payement Achat</title>
</head>
<body>
    
    <div>
        <h2>PayementAchat</h2>
        <form method="post" action="{% url 'payementachat' %}">
            {% csrf_token %}
            {{ payementachat.as_p }}
            <input type="submit" name="effectuer" value="effectuer">
        </form>
        {% if solde %}
            <p>le reste a payé est : {{ solde }}</p>
        {% endif %}     
        {% if prixbool%}
            <p> solde plus moins que le montant</p>
        {%endif%}
    </div>

</body>
</html>